// Карта //

.map {
  margin-top: 100px;

  &__title {
    font-size: 36px;
    font-weight: 500;
  }

  &__google-map {
    margin-top: 25px;
    margin-bottom: 20px;
  }
}

// Адаптив для карты//

.map {
  margin-top: 100px;

  &__title {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-top: 80px;
    color: var(--color-body);

    @media (max-width: 768px) {
      font-size: 28px;
    }
  }

  &__google-map {
    margin-top: 25px;
    width: 100%;
    height: 600px;

    @media (max-width: 768px) {
      height: 400px;
    }

    iframe {
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}
